/* ==UserStyle==
@name           HackerNews
@namespace      github.com/openstyles/stylus
@version        2.0.0
@description    Dark HackerNews
@author         Alexandru Dinu
==/UserStyle== */

@-moz-document url-prefix("https://news.ycombinator.com") {
    body {
        background-color: #1e1e1e;
    }

    #hnmain {
        background-color: #1e1e1e;
    }

    .athing .title a,
    .yclinks a {
        color: #828282;
    }

    .itemlist .title a:visited,
    .yclinks a {
        color: #5c5c5c;
    }

    #hnmain > tbody > tr:first-of-type table {
        background-color: #ff6600;
    }

    #hnmain > tbody > tr:first-of-type table img {
        box-sizing: border-box;
        border: 1px black solid !important;
    }

    .comment * {
        color: #828282;
    }

    .comment a {
        color: #828282 !important;
    }

    .comment a:visited {
        color: #5c5c5c !important;
    }

    #hnmain img:first-child {
        filter: grayscale(100%);
    }

    textarea {
        font-family: monospace;
        font-size: 10pt;
        background-color: #1e1e1e;
        color: #828282;
        border-color: #3e3e3e;
    }
}

@-moz-document url-prefix("https://news.ycombinator.com/login") {
    body {
        color: #828282;
    }

    a {
        color: #828282;
    }

    a:visited {
        color: #5c5c5c;
    }
}
