/* ==UserStyle==
@name           Reddit
@namespace      github.com/alexandru-dinu/gizmos
@version        1.0.0
@description    Reddit style
@author         Alexandru Dinu
==/UserStyle== */
@-moz-document domain("reddit.com") {
    html,
    body,
    #sr-more-link {
        background-color: #000000 !important;
    }

    div._1BFbVxT49QnrAN3fqGZ1z8,
    div._1tvThPWQpORoc2taKebHxs {
        visibility: hidden !important;
    }

    div._1vyLCp-v-tE5QvZovwrASa {
        display: block !important;
    }

    div._1vyLCp-v-tE5QvZovwrASa {
        display: block !important;
    }

    div._1vyLCp-v-tE5QvZovwrASa {
        display: block !important;
    }

    div._1OVBBWLtHoSPfGCRaPzpTf,
    div._2udhMC-jldHp_EpAuBeSR1,
    div.PaJBYLqPf_Gie2aZntVQ7 {
        max-width: 100% !important;
    }

    div.uI_hDmU5GSiudtABRz_37 {
        border-radius: 0px !important;
    }

    div._1npCwF50X2J7Wt82SZi6J0 {
        background-color: #1a1b1b !important;
    }

    div._3obgdFz00GvpqpuX8QCsNK {
        background: #1a1b1b !important;
    }
}
